* {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;

}

.outlineOff:focus {
    outline: none;
}

body {
    padding: 0;
    margin: 0;
    background-color: rgb(4 157 157);
}

header {
    background-color: rgb(0 138 138);
    margin: 0;
    padding: 15px 20px;
    width: 100%;

    display: flex;
    justify-content: space-between;

}

.HeaderBtns {
    display: flex;
    align-items: center;
    gap: 20px;
}

#GetDataBtn {
    font-size: 16px;
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    color: rgb(0 138 138);
    background-color: #FFF;
    font-weight: 600;
    transition: all ease 0.3s;
}

#GetDataBtn:hover {
    color: rgb(0 138 138);
    background-color: rgb(220 220 220);
}

#GetDataBtn:active {
    opacity: 80%;
}

#RemoveAllData {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #e81b1b;
    border: none;
    border-radius: 7px;
    padding: 5px;
}

#RemoveAllData:hover {
    opacity: 80%;
}

#RemoveAllData img {
    width: 30px;
    filter: brightness(0) saturate(100%) invert(97%) sepia(4%) saturate(0%) hue-rotate(289deg) brightness(115%) contrast(100%);
}



main {
    padding: 20px;
    overflow: auto;
}

.header {
    color: #fff;
    font-size: 20px;
    margin-left: 50px;
    text-transform: uppercase;

    background-color: #ffffff00;
    border: none;
    font-weight: 700;
    min-width: 60%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#BigCard-AddBtn {
    background-color: #FFF;
    font-size: 30px;
    color: #000000;
    outline: none;

    min-width: 50px;
    min-height: 50px;
    border: none;
    border-radius: 100%;

    align-self: center;

}

.Big-Cards-Container {
    display: flex;
    gap: 20px;
}

.Big-Card {
    min-width: 340px;
    max-height: 700px;
    padding: 20px;
    border-radius: 5px;
    background-color: rgb(220 220 220);

    position: relative;
    overflow: auto;
}

.Big-Card-Header {
    font-weight: 700;
    font-size: 16px;
    background-color: #ffffff00;
    border: none;
    margin-bottom: 10px;
}



.Small-Card {
    background-color: #fff;
    border-radius: 5px;

    padding: 20px;
    margin-bottom: 20px;

    position: relative;

}

.Small-Card-TextArea {
    font-size: 16px;
    width: 90%;
    resize: none;
    border: none;
}


.Icons-List {
    display: flex;
    align-items: center;
}

.Icons-List li {
    margin-right: 15px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.Icons-List span {
    font-size: 16px;
    margin-left: 0;
}

.man_1-Icon {
    margin-left: 15px;
    width: 35px !important;
}

.Icons-List img {
    width: 18px;
}

.SmallCards_AddBtn {
    font-size: 16px;
    color: rgb(0 138 138);
    font-weight: 500;
    padding: 10px 30px;
    background-color: #FFF;
    border: none;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
}

.CloseBtn {
    font-size: 30px;
    rotate: 45deg;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.619);
    position: absolute;
    right: 10px;
    top: 0;

    background-color: rgba(0, 0, 0, 0);
    border: none;
}

.CloseBtn:hover {
    opacity: 50%;
}

.ExamplesSection {
    display: none;
}