* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background: url(.//media/Awesome-Dark-Wallpaper-4K-Background.jpg);

    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
}

.Subs-Cards-Header {
    text-align: center;
    color: rgb(200, 200, 200);
    font-size: 60px;
    margin: 50px 0;
}

.Subs-Cards-Container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 60px;

    padding: 0 150px;
    list-style-type: none;

}

.Card-Container {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.445);
}

.Card-Header {
    display: inline-block;
    width: 100%;
    text-align: center;

    margin: 0;
    padding: 40px 0;

    background-color: rgb(193, 158, 15);

    color: rgb(200, 200, 200);
    font-size: 45px;
    font-weight: 700;


}

.Card-Price {
    color: rgb(193, 158, 15);
    font-size: 75px;

    font-weight: 700;
    margin: 30px 0;
}

.Card-List {
    margin: 0;

    list-style-type: square;
    color: rgb(193, 158, 15);
    padding-left: 0;

}

.Card-List p {
    color: rgb(182, 182, 182);
    font-size: 22px;
}

.Card-Btn {
    padding: 20px 60px;
    margin: 50px 0;

    text-decoration: none;
    text-transform: uppercase;

    font-size: 25px;
    color: rgb(200, 200, 200);
    background-color: rgb(193, 158, 15);
    font-weight: 500;

    transition: 0.2s background-color;
}

.Card-Btn:hover {
    background-color: rgba(212, 175, 28, 0.705);
}