@media (min-width: 1800px) {
  html {
    font-size: 1.2px;
  }
  .CommunityUpdates-Section-List-Card-MainImg {
    width: 500rem;
  }
}
@media (min-width: 1550px) and (max-width: 1800px) {
  html {
    font-size: 1.1px;
  }
}
@media (min-width: 992px) and (max-width: 1150px) {
  html {
    font-size: 0.9px;
  }
}
@media (max-width: 992px) {
  html {
    font-size: 0.9px;
  }
  .Header-Burger {
    display: inline-block;
    width: 40rem;
    filter: brightness(0) saturate(100%) invert(62%) sepia(76%) saturate(350%) hue-rotate(72deg) brightness(81%) contrast(92%);
  }
  .CheckBox {
    display: inline-block;
    width: 40rem;
    height: 40rem;
    position: absolute;
    right: 26rem;
    top: 24rem;
    opacity: 0%;
  }
  .CheckBox:not(:checked) ~ .Header-List {
    display: none;
  }
  .CheckBox:not(:checked) ~ .Autarization-Container {
    display: none;
  }
  .Header-Logo-Container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .Header-List {
    flex-direction: column;
    gap: 30rem;
    margin-top: 20rem;
    margin-left: 20rem;
  }
  nav {
    display: block;
  }
  .Community-Section-Lists {
    grid-template-columns: auto;
    grid-template-rows: repeat(3, auto);
    gap: 0;
  }
  .Customers-Section {
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(2, auto);
    justify-items: center;
    align-items: center;
    gap: 10rem;
  }
  .Unlock-Section {
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(2, auto);
    justify-items: center;
    align-items: center;
    gap: 5rem;
  }
  .Unlock-Section-Container-LearnBtn {
    margin-bottom: 10rem;
  }
  .Achievements-Section {
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(2, auto);
    justify-items: center;
    align-items: center;
    gap: 10rem;
  }
  .Achievements-Section-Statistics {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(1, auto);
    gap: 40rem 30rem;
  }
  .CommunityUpdates-Section-List {
    grid-template-columns: repeat(1, 1fr);
  }
  .CommunityUpdates-Section-List-Card {
    max-width: 100%;
  }
  .CommunityUpdates-Section-Card {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(1, auto);
    justify-items: center;
    align-items: center;
    gap: 20rem;
    grid-template-columns: 1fr 1fr;
  }
  .CommunityUpdates-Section-Card-Container {
    margin: 0;
    max-width: 450rem;
    margin-right: 15rem;
  }
}
@media (max-width: 800px) {
  .Hero-Section {
    display: flex;
    flex-direction: column-reverse;
    gap: 0;
  }
  .Clients-Section-List {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(2, auto);
    justify-items: center;
    align-items: center;
  }
  .Clients-Section-List li:last-child {
    grid-column: 3/5;
  }
  .Achievements-Section-Statistics {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    gap: 40rem 30rem;
  }
  .Customers-Section-Container {
    margin: 0;
  }
  .Customers-Section-Container-List {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(2, auto);
    justify-items: center;
    align-items: center;
  }
  .Customers-Section-Container-List li:last-child {
    grid-row: 1/3;
    grid-column: 4/5;
  }
  .CommunityUpdates-Section-List {
    padding: 0 5rem;
  }
  .CommunityUpdates-Section-List-Card-MainImg {
    max-width: 280rem;
  }
  .Down-Footer {
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(2, auto);
    justify-items: center;
    align-items: center;
    gap: 20rem;
  }
  .Down-Footer-Left {
    grid-row: 2/3;
  }
}
@media (max-width: 600px) {
  .Clients-Section-List {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
    justify-items: center;
    align-items: center;
  }
  .Clients-Section-List li:last-child {
    grid-column: 1/4;
  }
  .Unlock-Section {
    margin-left: 20rem;
  }
  .Hero-Container-Header {
    font-size: 50rem;
    margin-bottom: 0;
  }
  .Hero-Container-Header span {
    font-size: 50rem;
  }
  .Achievements-Section-Statistics {
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(4, auto);
    gap: 40rem 30rem;
  }
  .Customers-Section-Container-List {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(4, auto);
    justify-items: center;
    align-items: center;
    justify-content: center;
    gap: 10rem 30rem;
  }
  .Customers-Section-Container-List li:last-child {
    margin-bottom: 20rem;
    grid-row: 4/5;
    grid-column: 1/3;
  }
  .CommunityUpdates-Section-Card {
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(2, auto);
    justify-items: center;
    align-items: center;
    gap: 20rem;
    max-width: 320rem;
  }
  .Up-Footer-Header {
    font-size: 40rem;
  }
  .Down-Footer {
    padding-top: 10rem;
  }
  .Down-Footer-Right {
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(3, auto);
    gap: 0rem;
    margin-bottom: 20rem;
  }
  .Down-Footer-Right-List {
    text-align: center;
  }
  .Down-Footer-Right-List-Header {
    font-size: 25rem;
  }
  .Down-Footer-Right-List a:not(.Down-Footer-Right-List-Header) {
    font-size: 20rem;
  }
  .Down-Footer-Right input {
    font-size: 20rem;
    max-width: 300rem;
    height: 60rem;
  }
}

/*# sourceMappingURL=responsive.css.map */
